.loader-text{
    text-transform: uppercase;
    font-size: 35px;
    font-weight: 900;
    margin-top: 30%;
    color: #020887;
    /* animation: text 2s infinite; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.loader {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .loader {
      animation: loader-spin infinite 5s linear;
    }
  }
  
  @keyframes loader-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }